@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: transparent;
  position: relative;
}

.logo {
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: auto;
  white-space: nowrap; /* Prevent line breaks */
}

.pagination__item {
  padding: 5px 8px; /* Reduce padding */
  margin-right: 3px; /* Decrease margin */
  cursor: pointer;
  color: #333;
  background-color: #f2f2f2;
  border-radius: 3px;
  font-size: 12px; /* Decrease font size */
}

.pagination__item:hover {
  background-color: #e0e0e0;
}

.pagination__selected {
  background-color: #333;
  color: #fff;
}

/* Home.css */

.home-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

/* Add additional styles as needed */



/* .carousel-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.carousel-slide {
  width: 100%;
  height: 100vh;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


.carousel-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}
